## Task 1

### How many columns are there?
3 columns: Name, Gender, Occurance
### How are columns separated?
by single comma
### Is there a header on top of the files?
no

## Task 2

In [31]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('names/yob2021.txt', names=['names',  'gender',  'occurance'], header=None)

## Task 3

In [32]:
df.head(11)

        names gender  occurance
0      Olivia      F      17728
1        Emma      F      15433
2   Charlotte      F      13285
3      Amelia      F      12952
4         Ava      F      12759
5      Sophia      F      12496
6    Isabella      F      11201
7         Mia      F      11096
8      Evelyn      F       9434
9      Harper      F       8388
10       Luna      F       8173

## Task 4

In [43]:
df.head

<bound method NDFrame.head of            names gender  occurance
0         Olivia      F      17728
1           Emma      F      15433
2      Charlotte      F      13285
3         Amelia      F      12952
4            Ava      F      12759
...          ...    ...        ...
31532     Zyeire      M          5
31533       Zyel      M          5
31534      Zyian      M          5
31535      Zylar      M          5
31536        Zyn      M          5

[31537 rows x 3 columns]>

## Task 5

In [38]:
df['occurance'].sum()

3361375

## Task 6

In [52]:
df.groupby('gender')['occurance'].sum()['F']

1627098

In [54]:
df.groupby('gender')['occurance'].sum()['M']

1734277

## Task 7

In [59]:
names = pd.Series(df['names'].unique())

'Zino' in names.values

True

## Task 8

In [74]:
sumBoys = df.groupby('gender')['occurance'].sum()['M']
sumGirls = df.groupby('gender')['occurance'].sum()['F']

sumTotal = sumBoys + sumGirls

percentageBoys = sumBoys / (sumTotal) *100
percentageGirls = sumGirls / (sumTotal) *100

print('Percentage of Boys: ', percentageBoys, ' %')
print('Percentage of Girls: ', percentageGirls, ' %')

Percentage of Boys:  51.59427317689933  %
Percentage of Girls:  48.405726823100665  %

## Task 9

In [89]:
boysDf = df[df['gender'] == 'M']
boysDf.sort_values(by=['occurance'], ascending=False)
boysTop5 = boysDf.head(5)

girlsDf = df[df['gender'] == 'F']
girlsDf.sort_values(by=['occurance'], ascending=False)
girlsTop5 = girlsDf.head(5)

girlsBoysTop5 = pd.concat([boysTop5, girlsTop5]).sort_values(by=['occurance'], ascending=False)
girlsBoysTop5

           names gender  occurance
17544       Liam      M      20272
17545       Noah      M      18739
0         Olivia      F      17728
1           Emma      F      15433
17546     Oliver      M      14616
2      Charlotte      F      13285
3         Amelia      F      12952
4            Ava      F      12759
17547     Elijah      M      12708
17548      James      M      12367

## Task 10

In [92]:
girlsBoysTop5.to_excel(excel_writer='top5.xlsx', index=False)